/* 
该插件会为你 Markdown 内容中的外部链接添加一个图标
https://ecosystem.vuejs.press/zh/plugins/external-link-icon.html
*/
:root {
    --external-link-icon-color: #aaa;
}

/* 
将 nprogress 集成到 VuePress 中，在切换到另一个页面时会展示进度条。
https://ecosystem.vuejs.press/zh/plugins/nprogress.html
*/
:root {
    --nprogress-color: #29d;
    --nprogress-z-index: 1031;
}


/**
global-component-library 组件插件
*/
:root{
    --demo-window-top-bar:var(--theme-c-bg-tab-nav);
    --demo-window--border:var(--theme-c-brc);
    --demo-window-top-bar-text:var(--theme-c-bg-tab-nav-text);
}

/**
https://plugin-md-enhance.vuejs.press/zh/
为 VuePress2 提供更多 Markdown 增强功能
*/
/* 选项卡 */
:root{
    --tab-bg-color: var(--theme-c-bg) !important;
    --tab-nav-text-color: var(--theme-c-bg-tab-nav-text) !important;
    --tab-nav-bg-color: var(--theme-c-bg-tab-nav) !important;
    --tab-nav-hover-color: var(--theme-c-bg) !important;
    --vp-brc:var(--theme-c-bg-tab-nav) !important;
}
div.vp-tabs{
    border: 1px solid var(--theme-c-brc) !important;
}

/* 任务列表 */
:root{
    /* --vp-tc: var(#3eaf7c); */
}