
/*
纯色
*/
:root{
    --theme-c-white:#ffffff;
    --theme-c-black:#000000;
    --theme-c-logo:#00b2ff;
}

/*
通用 Main.vue
*/
:root{
    --theme-text-1: var(--theme-c-black); /*文字颜色*/
    --theme-text-2: #000000cc;
    --theme-c-bg: var(--theme-c-white); /*背景颜色*/
    --theme-c-brc: rgb(232 230 240); /**边框颜色*/
}
.dark{
    --theme-text-1: var(--theme-c-white);
    --theme-text-2: #ffffffcc;
    --theme-c-bg: var(--theme-c-black);
    --theme-c-brc: rgb(51 49 60);
}
/*
功能色
*/
:root{
    --theme-c-bg-tab-nav: #f6f8fa; /*导航栏颜色*/
    --theme-c-bg-tab-nav-text: var(--theme-text-1);  /**导航栏文字颜色*/
}
.dark{
    --theme-c-bg-tab-nav:#0a0f15;
    --theme-c-bg-tab-nav-text: var(--theme-text-1);
}

/**
 贡献者列表 ./aside/Contributors.vue
*/
:root{
    --contributor-text-name-c:var(--theme-text-1); /* 名称颜色 */
    --contributor-text-email-c:var(--theme-text-2); /* 邮箱颜色 */
    --contributor-text-commits-c:var(--theme-text-2); /* 提交数量颜色 */
    --contributor-img-border-c: var(--theme-c-brc); /* 头像框边框颜色 */
    --contributor-img-bg-c: var(--theme-c-bg-tab-nav); /* 头像框默认背景色 */
}

/**
布局 ./Main.vue  ./nav/NavMain.vue
*/
:root{
    --header-height:4rem;
}

/**
组件./Main.vue
*/
:root{
    --mian-max-width: 1440px;
    --main-nav-width: 16rem;
    --main-aside-width: 16rem;
}

/**
组件./box/ContentBox
*/
:root{
    --content-box-header-bgc: var(--theme-c-bg-tab-nav);
    --content-box-border: 0.1rem solid var(--theme-c-brc);
    --content-box-header-height: 2.8rem;
    --content-box-header-padding: 0 1rem;
    --content-box-mian-padding: 1rem 1rem;
    --content-box-radius: 0.5rem;
    --content-box-mian-bgc: var(--theme-c-bg);
}
