/* 公共变量 */
:root {
    --nav-height: 3rem;

}


/* 主题 */
:root {
    --border-color: rgba(198, 198, 198, 0.484);
    --color-link: #0969da;
    --color-logo: #00b2ff;
}


html{
    --color: rgb(0, 0, 0);
    --color-opacity :rgba(0, 0, 0,50%);
    --background-color: rgb(255, 255, 255);
    --background-color1: #f6f8fa;
    --background-color2: #96cbff;
    --background-color-opacity: #ffffff47;
    --color-time1: #2e90ff;
    --color-time2: rgb(0, 89, 255);
}

html.dark{
    --color: rgb(255, 255, 255);
    --color-opacity :rgba(255, 255, 255, 0.5);
    --background-color: #0d1117;
    --background-color1: rgb(0, 0, 0);
    --background-color2: #23466c;
    --background-color-opacity: #00000047;
    --color-time1: #60aaff;
    --color-time2: rgb(31, 110, 255);
}




/* 基础样式 */
:root {
    font-family: Arial, Helvetica;
    font-size: 16px;
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    transition: background-color 0.5s;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    min-width: 100%;
    background-color: var(--background-color);
}