.hint-container .hint-container-title{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}
html .vp-tabs{
    --vp-tc:var(--color-link);

    --tab-bg-color:#fff;
    --tab-nav-text-color:#2c3e50;
    --vp-brc:rgba(186, 186, 186, 0.258);
}
html.dark .vp-tabs{
    --tab-bg-color:#0d1117;
    --tab-nav-text-color:#9e9e9e;
    --vp-brc:rgba(255, 255, 255, 0.281);
}
.hint-container.tip pre > code{
    background-color: #0000;
}